<div ng-controller="AppCtrl">
    <header class="row header" ng-class="class">
        <!--***Desctop header -->
        <div class="header-left-part hidden-xs col-sm-4">
            <h4> ⚇ Made by Kiskin </h4>
        </div>
        <div  class="header-right-part hidden-xs col-sm-5 col-sm-offset-3">
            <div class="pull-right">
                <button class="btn btn-success">Contact</button>
                <a href ng-click="close()">
                    <span class="glyphicon glyphicon-remove"></span><span> Close</span>
                </a>
            </div>
        </div>

        <!--***Mobile header -->
        <div class="header-left-part col-xs-6 hidden-sm hidden-md hidden-lg mobile">
            <div >
                <span uib-dropdown on-toggle="toggled(open)">
                    <a href id="simple-dropdown" uib-dropdown-toggle>
                        {{curShortSelect}}
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li ng-repeat="choice in langs">
                            <a href ng-click="setChoice(choice.short)">{{choice.short}}</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
        <div  class="header-right-part col-xs-6 hidden-sm hidden-md hidden-lg mobile">
            <div class="pull-right">
                <a href>
                    <span class="glyphicon glyphicon-envelope"></span>
                </a>
                <a href ng-click="close()">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
    </header>
    <div class="head container-fluid">
        <div class="container">
            <div class="top-header">
                <div class="col-sm-6 col-xs-12">
                    <span>This template created by Kiskin Vladislav</span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <ul class="list-inline pull-right">
                        <li>
                            <span>Email us:</span><span class="author-email pointer"> kiskinvlad@gmail.com</span>
                        </li>
                        <li class="lang-changer pull-right hidden-xs">
                            <div class="pull-right">
                               <span uib-dropdown on-toggle="toggled(open)">
                                  <a href id="simple-dropdown" uib-dropdown-toggle>
                                      {{currentSelect}}
                                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                                  </a>
                                  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                      <li ng-repeat="choice in langs">
                                          <a href ng-click="setChoice(choice.lang)">{{choice.lang}}</a>
                                      </li>
                                  </ul>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 middle-header">
                <div class="col-md-4 col-xs-12">
                    <div class="inline">
                         <div class="land-ico"></div>
                    </div>
                    <div class="inline ico-info">
                        <h3>K-Landing #1</h3>
                        <span>Klanding template</span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4">
                    <div class="inline ico-info">
                        <h4>Landing page #1</h4>
                        <span>created by Kiskin</span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4">
                    <div class="inline ico-info">
                        <h4>Global Certificate</h4>
                        <span>ISO certificate id:year</span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-4">
                    <div class="inline ico-info">
                        <h4>Third col</h4>
                        <span>Information on third col</span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <a href>
                        <div class="inline push-me">
                            PUSH ME
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-navbar hidden-md hidden-lg" id="mobile-navbar">
        <div class="container">
            <div>
                <div class="navbar-home-ico col-md-1 col-xs-10">
                    <i class="fa fa-home inline" aria-hidden="true"  ng-click="isCollapsed = !isCollapsed"></i>
                    <span class="search-input-mobile"><input placeholder="Enter your search term..."  /></span>
                </div>
                <div class="navbar-bars-ico col-md-1 col-xs-2 col-md-offset-0">
                        <i class="fa fa-bars inline hidden-md hidden-lg" type="button" aria-hidden="true" ng-click="isCollapsed = !isCollapsed"></i>
                </div>
            </div>
        </div>
        <div uib-collapse="isCollapsed" class="mobile-nav-list">
            <ul class="list-unstyled">
                <li>
                    <div class="well well-lg"><a href>Home</a></div>
                </li>
                <li>
                    <div class="well well-lg"><a href>Solution</a></div>
                </li>
                <li>
                    <div class="well well-lg"><a href>Projects</a></div>
                </li>
                <li>
                    <div class="well well-lg"><a href>Blog</a></div>
                </li>
                <li>
                    <div class="well well-lg"><a href>Services</a></div>
                </li>
                <li>
                    <div class="well well-lg"><a href>Shop</a></div>
                </li>
                <li>
                    <div class="well well-lg"><a href>About</a></div>
                </li>
                <li>
                    <div class="well well-lg"><a href>Contact</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="landing-carousel animated" when-visible="navBarIsVisible" when-not-visible="navBarIsNotVisible">
        <div class="landing-navbar hidden-sm hidden-xs">
            <div class="container">
                <div>
                    <div class="navbar-home-ico col-md-1 col-sm-2 col-xs-5">
                        <i class="fa fa-home inline cursor" aria-hidden="true"></i>
                        <i class="fa fa-bars inline hidden-md hidden-lg" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 hidden-sm hidden-xs no-padding">
                        <div class="col-md-10 middle-tabs no-padding">
                            <uib-tabset active="activeJustified" justified="true">
                            <uib-tab index="0" heading="Home" template-url="views/templates/tabTemplate.html"></uib-tab>
                            <uib-tab index="1" heading="Solution" template-url="views/templates/tabTemplate.html"></uib-tab>
                            <uib-tab index="2" heading="Projects" template-url="views/templates/tabTemplate.html"></uib-tab>
                            <uib-tab index="3" heading="Blog" template-url="views/templates/tabTemplate.html"></uib-tab>
                            <uib-tab index="4" heading="Services" template-url="views/templates/tabTemplate.html"></uib-tab>
                            <uib-tab index="5" heading="Shop" template-url="views/templates/tabTemplate.html"></uib-tab>
                            <uib-tab index="6" heading="About" template-url="views/templates/tabTemplate.html"></uib-tab>
                            <uib-tab index="7" heading="Contact" template-url="views/templates/tabTemplate.html"></uib-tab>
                            </uib-tabset>
                        </div>
                        <div class=" col-md-2 col-xs-12 right-tabs no-padding">
                            <div class="pull-right">
                                <uib-tabset active="activeJustified" justified="true">
                                    <uib-tab index="8" heading="fa fa-twitter" template-url="views/templates/socialTabsTemplate.html"></uib-tab>
                                    <uib-tab index="9" heading="fa fa-facebook" template-url="views/templates/socialTabsTemplate.html"></uib-tab>
                                    <uib-tab index="10" heading="fa fa-gitlab" template-url="views/templates/socialTabsTemplate.html"></uib-tab>
                                    <uib-tab index="11" heading="fa fa-vk" template-url="views/templates/socialTabsTemplate.html"></uib-tab>
                                </uib-tabset>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-search-ico col-md-1 col-xs-6 col-xs-offset-1 col-sm-offset-4 col-md-offset-0">
                        <i class="fa fa-search pointer" aria-hidden="true" ng-click="setVisibility()"></i>
                        <span class="search-input"><input placeholder="Enter your search term..." ng-class="animate" /></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-main">
            <div>
                <uib-carousel active="active" interval="myInterval" no-pause="true" template-url="views/templates/carouselTemplate.html">
                    <uib-slide class="landing-slide" ng-repeat="slide in slides track by slide.id" index="slide.id">
                        <div class="slides" ng-style="{'background-image':'url({{slide.image[slide.id]}})'}"></div>
                        <div class="carousel-caption container">
                            <div class="col-xs-8 col-xs-offset-4">
                                <h3 class="animated bounceInLeft">{{slide.headers}}</h3>
                                <h1 class="animated {{slide.animation}}">{{slide.headers2}}</h1>
                                <p class="animated jello">{{slide.text}}</p>
                            </div>
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
    <div class="container main">
        <div class="col-sm-6 col-xs-12 left-text">
            <p>
                   What are the requirements to web pages and sites that are designed and laid out in a network?
                   First, we must adhere to web standards. Our web pages have to be made by all the rules that have been
                   developed and adopted as mandatory to use.
                <span class="request-text" ><a href class="no-decoration" translate>Request a quote</a></span>
            </p>
            <p>
                We understand the importance of innovation and professionalism and work with the best people to achieve this.
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="col-xs-12 chrome-info">
                <div class="col-sm-4 col-xs-12 chrome-img"></div>
                <div class="col-sm-8 col-xs-12">
                    <h4>Flexibility and Cross-platform</h4>
                    <p>
                        Web pages should appear the same on all devices. It creates a kind of universality.
                    </p>
                    <a href class="href-slider">Read more</a>
                </div>
            </div>
            <div class="col-xs-12 firefox-info">
                <div class="col-sm-4 col-xs-12 firefox-img"></div>
                <div class="col-sm-8 col-xs-12">
                    <h4>User-friendly content</h4>
                    <p>
                        We have to take care of the content that will be placed on the pages .
                        It must be structured to have a certain type ( single design ), and be user-friendly.
                    </p>
                    <a href class="href-slider">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container introduct">
        <div class="col-md-4 col-sm-6 col-xs-12 introduct-block animated custom-hide"
             ng-repeat="image in imageArray" when-visible="animateElementIn" when-not-visible="animateElementOut">
            <div class="introduct-iamges" ng-style="{'background-image':'url({{image.background}})'}"></div>
            <h3>{{image.header}}</h3>
            <span>{{image.text}}</span>
        </div>
    </div>
    <div class="container-fluid portfolio animated custom-hide" when-visible="animateElementFromLeft" when-not-visible="animateElementOutToLeft">
        <div class="container">
            <div class="col-xs-4">
                <h1>Image filter</h1>
                <span>::::::::::::::::::::::::::::::::::::::::::::::::::::::::</span>
            </div>
            <div class="col-xs-8">
                <ul class="list-inline image-filter">
                    <li ng-repeat="link in links" class="pull-right" >
                        <a href ng-click="findFilterProp(link)" ng-class="link.bxClass">{{link.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 portfolio-images">
                <ul class="list-inline row">
                    <li ng-repeat="color in colors" class="col-xs-12 col-md-3 animated {{color.bxClass}}">
                        <div class="box" ng-style={{color.back}}></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clinet-panel animated container-fluid custom-hide"  when-visible="animateElementFadeIn" when-not-visible="animateElementFadeOut">
        <div class="container">
            <div class="col-md-3 col-xs-12">
                <h3>Companies carousel</h3>
            </div>
            <div class="col-md-9 col-xs-12">
                <slick  infinite="true" speed="200" slides-to-show="5" touch-move="false" slides-to-scroll="1" autoplay="true">
                   <div class="tech-img" ng-repeat="tech in technologies"  ng-style="{'background-image':'url({{tech.src}})'}"></div>
                </slick>
            </div>
        </div>
    </div>
    <div class="quote-panel animated" when-visible="animateElementFadeIn" when-not-visible="animateElementFadeOut">
        <div class="container">
            <slick  infinite="true" speed="200" slides-to-show="3" touch-move="false" slides-to-scroll="1" autoplay="true" class="hidden-sm hidden-xs">
                    <div class="quote-box" ng-repeat="qBox in qBoxes">
                        <span class="inner-span"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
                        <h3 class="inner-header">{{qBox.header}}</h3>
                        <p class="inner-paragraph">{{qBox.text}}</p>
                        <div class="outer-part">
                            <h3>{{qBox.author}}<span>{{qBox.post}}</span></h3>
                            <ul class="list-inline">
                                <li ng-repeat="rating in qBox.rating track by $index">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
            </slick>
            <!--*** Mobile ***-->
            <div class="row hidden-lg hidden-md">
                <div class="quote-box col-sm-6 col-xs-12" ng-repeat="qBox in qBoxes">
                    <span class="inner-span"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
                    <h3 class="inner-header">{{qBox.header}}</h3>
                    <p class="inner-paragraph">{{qBox.text}}</p>
                    <div class="outer-part container">
                        <h3>{{qBox.author}}<span>{{qBox.post}}</span></h3>
                        <ul class="list-inline">
                            <li ng-repeat="rating in qBox.rating track by $index">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-panel">
        <div class="container">
            <div class="col-md-6 col-xs-12 animated" when-visible="animateElementFromLeft" when-not-visible="animateElementOutToLeft">
                <h1>Simple accordion panels</h1>
                <span>::::::::::::::::::::::::::::::::::::::::::::::::::::::::</span>
                <div class="accordeons">
                    <uib-accordion close-others="oneAtATime">
                        <uib-accordion-group is-open="status.isFirstOpen" template-url="views/templates/accordionTemplate.html">
                            <uib-accordion-heading>
                                NodeJS         <i class="pull-right fa" ng-class="{'fa-minus gold-text': status.isFirstOpen, 'fa-plus': !status.isFirstOpen}"></i>

                            </uib-accordion-heading>
                            <p class="accordion-body">
                                Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.
                            </p>
                        </uib-accordion-group>
                        <uib-accordion-group is-open="status.isSecondOpen" template-url="views/templates/accordionTemplate.html">
                            <uib-accordion-heading>
                                Django           <i class="pull-right fa" ng-class="{'fa-minus gold-text': status.isSecondOpen, 'fa-plus': !status.isSecondOpen}"></i>

                            </uib-accordion-heading>
                            <p class="accordion-body">
                                Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.
                            </p>
                        </uib-accordion-group>
                        <uib-accordion-group is-open="status.isThirdOpen" template-url="views/templates/accordionTemplate.html">
                            <uib-accordion-heading>
                                Ruby On rails          <i class="pull-right fa" ng-class="{'fa-minus gold-text': status.isThirdOpen, 'fa-plus': !status.isThirdOpen}"></i>

                            </uib-accordion-heading>
                            <p class="accordion-body">
                                Rails is a web application development framework written in the Ruby language.
                            </p>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 animated" when-visible="animateElementFromRight" when-not-visible="animateElementOutToRight">
                <h1 class="news-header">Latest news</h1>
                <span>::::::::::::::::::::::::::::::::::::::::::::::::::::::::</span>
                <article class="news-block hidden-xs hidden-sm">
                    <div class="news-img">
                        <img src="../assets/news1.jpg"/>
                        <div class="news-text">
                            <a href class="header-link" title="First News Block Header"><h3 translate>First News Block Header</h3></a>
                            <span>June 29, 2016 /</span><span class="gold-text"> Publisher General</span>
                            <p>This is text for the first news block.</p>
                            <a href class="read-more-link" title="Read more">Read more<span class="read-more-arrow"></span></a>
                        </div>
                    </div>
                </article>
                <article class="news-block hidden-xs hidden-sm" style="top: 300px">
                    <div class="news-img" style="margin-top: -90px">
                        <img src="../assets/news2.jpg"/>
                        <div class="news-text">
                            <a href class="header-link" title="Help Your Business to Success"><h3>Second News Block Header</h3></a>
                            <span>June 29, 2016 /</span><span class="gold-text"> Publisher General</span>
                            <p>This is text for the second news block.</p>
                            <a href class="read-more-link" title="Read more" translate>Read more<span class="read-more-arrow"></span></a>
                        </div>
                    </div>
                </article>
                <!-- ***Mobile*** -->
                <article class="news-block  mobile-news  row hidden-md hidden-lg">
                    <div class="col-xs-12">
                        <img src="../assets/news1.jpg"/>
                    </div>
                    <div class="col-xs-12 news-text">
                        <a href class="header-link" title="Help Your Business to Success"><h3>First News Block Header</h3></a>
                        <span>June 29, 2016 /</span><span class="gold-text"> Publisher General</span>
                        <p>This is text for the first news block.</p>
                        <a href class="read-more-link" title="Read more">Read more<span class="read-more-arrow"></span></a>
                    </div>
                </article>
                <article class="news-block  mobile-news  row hidden-md hidden-lg">
                    <div class="col-xs-12">
                        <img src="../assets/news2.jpg"/>
                    </div>
                    <div class="col-xs-12 news-text">
                        <a href class="header-link" title="Help Your Business to Success"><h3>Second News Block Header</h3></a>
                        <span>June 29, 2016 /</span><span class="gold-text"> Publisher General</span>
                        <p>This is text for the second news block.</p>
                        <a href class="read-more-link" title="Read more" translate>Read more<span class="read-more-arrow"></span></a>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <footer class="footer container-fluid">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <h3>About us</h3>
                    <p>Hello , my name is Vladislav Kiskin. I am an IT company employee and I holding the position
                        of software engineer.
                        I am developing a front-end application for web sites using html, css / sass, js,
                        angularJs, reactjs, mysql, mongo, nodejs.
                    </p>
                    <a href>Learn More</a>
                </aside>
                <aside class="col-md-3">
                    <h3>Web Technologies</h3>
                   <ul>
                       <li>
                           <a href>HTML5 & CSS3</a>
                       </li>
                       <li>
                           <a href>Angular & ReactJS</a>
                       </li>
                       <li>
                           <a href>Bootstrap</a>
                       </li>
                       <li>
                           <a href>Sass & Scss</a>
                       </li>
                       <li>
                           <a href>NodeJS & express</a>
                       </li>
                       <li>
                           <a href>GitHUB, BitBucket</a>
                       </li>
                       <li>
                           <a href>Relational & Document-oriented databases</a>
                       </li>
                   </ul>
                </aside>
                <aside class="col-md-3 hover-effect">
                    <h3>keep in touch</h3>
                    <p>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                       <span>Address : Ukraine, Zaporіzhzhya</span>
                    </p>
                    <p class="no-padding">
                        <i class="fa fa-envelope" aria-hidden="true" style="font-size: 15px;"></i>
                      <span>Email : kiskinvlad@gmail.com</span>
                    </p>
                    <p class="no-padding">
                        <i class="fa fa-skype" aria-hidden="true"></i>
                        <span>Skype: kiskinvlad2</span>
                    </p>
                </aside>
                <aside class="col-md-3 insta">
                    <h3>instagram feed</h3>
                    <ul class="list-inline row">
                        <li class="col-md-4">
                            <a href style="background: url('../assets/news1.jpg')"></a>
                        </li>
                        <li class="col-md-4">
                            <a href style="background: url('../assets/news2.jpg')"></a>
                        </li>
                        <li class="col-md-4">
                            <a href style="background: url('../assets/beach-background.jpg')"></a>
                        </li>
                        <li class="col-md-4">
                            <a href style="background: url('../assets/blue-background.jpg')"></a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <span>Copyright © 2016. All Rights Reserved.</span>
            </div>
        </div>
    </footer>
</div>