<header class="row header ">
    <!--***Desctop header -->
    <div class="header-left-part hidden-xs col-sm-4">
        <h4> ⚇ Made by Kiskin </h4>
    </div>
    <div class="header-right-part hidden-xs col-sm-5  col-sm-offset-3">
        <div class="pull-right">
            <button class="btn btn-success">Contact</button>
            <a href="#">
                <span class="glyphicon glyphicon-remove"></span><span> Close</span>
            </a>
        </div>
    </div>

    <!--***Mobile header -->
    <div class="header-left-part col-xs-6 hidden-sm hidden-md hidden-lg">
        <h4> ⚇ Made by Kiskin </h4>
    </div>
    <div class="header-right-part col-xs-6 hidden-sm hidden-md hidden-lg mobile">
        <div class="pull-right">
            <a href="#">
                <span class="glyphicon glyphicon-envelope"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
</header>
<div class="top-header container-fluid">
    <div class="container">
        <div class="col-xs-6">
            <span>This template created by Kiskin Vladislav</span>
        </div>
        <div class="col-xs-6 row">
            <ul class="list-inline pull-right">
                <li>
                    <span>Email us:</span><span class="author-email pointer"> kiskinvlad@gmail.com</span>
                </li>
                <li class="lang-changer pull-right">
                    <div ng-controller="MultiLangCtrl" class="pull-right">
                       <span uib-dropdown on-toggle="toggled(open)">
                          <a href id="simple-dropdown" uib-dropdown-toggle>
                              {{currentSelect}}
                              <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </a>
                          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                              <li ng-repeat="choice in langs">
                                  <a href ng-click="setChoice(choice.lang)">{{choice.lang}}</a>
                              </li>
                          </ul>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>