body {
  width: 100%;
  min-width: 320px;
  font-size: 13px;
  font-family: "Roboto", sans-serif; }

.display-none {
  display: none; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.no-decoration, header.header .mobile .dropdown a:hover, header.header .mobile .dropdown a:focus, div.head .lang-changer a:hover, div.head .lang-changer a:focus {
  text-decoration: none;
  text-underline: none;
  border: none; }

.cursor {
  cursor: default; }

.pointer {
  cursor: pointer; }

.inline {
  float: left; }

/*** Landing Header ***/
header.header {
  margin: 0;
  height: 55px;
  width: 100%;
  background-color: #282828; }
  header.header h4 {
    margin: 0;
    color: #fff;
    padding: 17px; }
  header.header .btn, header.header span {
    margin-right: 35px;
    padding: 6px 16px; }
  header.header span.glyphicon {
    margin-right: 0;
    padding: 2px 12px;
    font-size: 12px; }
  header.header .header-right-part {
    padding: 11px; }
    header.header .header-right-part a {
      color: #cbcbcb; }
    header.header .header-right-part a:hover {
      text-decoration: none;
      text-underline: none;
      border: none;
      color: #fff; }
    header.header .header-right-part a:focus, header.header .header-right-part a:active {
      text-decoration: none;
      text-underline: none;
      border: none;
      outline: 0; }
  header.header .header-left-part {
    white-space: nowrap;
    color: #cbcbcb; }
  header.header .header-right-part .btn-success {
    width: 92px;
    height: 31px;
    line-height: normal; }
  header.header .mobile .glyphicon {
    padding: 5px 20px;
    font-size: 20px; }
  header.header .mobile .dropdown {
    top: 17px; }
    header.header .mobile .dropdown a:hover, header.header .mobile .dropdown a:focus {
      color: #fff; }
    header.header .mobile .dropdown a {
      color: #9d9d9d; }
    header.header .mobile .dropdown .dropdown-menu {
      padding: 0; }
      header.header .mobile .dropdown .dropdown-menu li a {
        transition-property: background;
        transition-duration: 1s;
        transition-timing-function: linear;
        padding: 8px 10px;
        font-size: 13px; }
      header.header .mobile .dropdown .dropdown-menu li a:hover {
        background-color: #f7c51d; }

/***landing head***/
div.head .middle-header {
  padding: 8px 0; }
div.head li, div.head span {
  color: #9d9d9d; }
div.head .top-header {
  padding: 20px 0; }
div.head .lang-changer {
  min-width: 100px; }
  div.head .lang-changer .dropdown-menu {
    padding: 0;
    left: -100px;
    top: 30px; }
    div.head .lang-changer .dropdown-menu li a {
      padding: 8px 10px;
      font-size: 13px; }
  div.head .lang-changer .dropdown a {
    color: #9d9d9d; }
  div.head .lang-changer .dropdown-menu li a {
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear; }
  div.head .lang-changer .dropdown-menu li a:hover {
    background-color: #f7c51d; }
div.head .author-email {
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: linear; }
div.head .author-email:hover {
  color: #000; }
div.head .land-ico {
  background: url("../assets/k-ico.png");
  width: 70px;
  height: 70px;
  background-size: cover; }
div.head .ico-info {
  padding: 0 10px; }
  div.head .ico-info h3 {
    margin: 20px 0 0 0;
    font-weight: bold; }
  div.head .ico-info h4 {
    margin: 27px 0 0 0; }
div.head .push-me {
  font-weight: bold;
  line-height: 4;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  height: 52px;
  width: 100%;
  background-color: #f7c51d;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear; }
div.head .push-me:hover {
  background-color: #000; }

/*** Landing Carousel ***/
.landing-carousel {
  margin-top: 25px;
  height: 500px;
  width: 100%;
  background-color: #000; }
  .landing-carousel div.slides {
    opacity: 0.5;
    margin: auto;
    height: 500px; }
  .landing-carousel div.carousel-inner {
    height: 500px; }
  .landing-carousel div.carousel-caption {
    position: relative;
    top: -375px;
    left: 0; }
    .landing-carousel div.carousel-caption h3 {
      animation-delay: 1s;
      opacity: 1;
      color: #f7c51d;
      font-weight: bold;
      text-align: left; }
    .landing-carousel div.carousel-caption h1 {
      animation-delay: 1.5s;
      text-align: left; }
      .landing-carousel div.carousel-caption h1 span {
        color: #f7c51d; }
    .landing-carousel div.carousel-caption p {
      font-size: 16px;
      text-align: left; }
  .landing-carousel .carousel-main {
    top: -65px;
    position: relative; }
  .landing-carousel .landing-slide * {
    background-size: cover;
    background-position: center; }
  .landing-carousel .carousel-control {
    opacity: 1 !important;
    height: 80px;
    width: 35px;
    background-color: rgba(63, 63, 59, 0.3);
    background-image: none;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    top: 200px;
    margin: 0 20px; }
    .landing-carousel .carousel-control i {
      color: #fff;
      margin-top: 35px;
      font-size: 14px; }
  .landing-carousel a.carousel-control:hover {
    background-color: #f7c51d; }
  .landing-carousel .fa-chevron-right {
    margin-right: -3px; }
  .landing-carousel .fa-chevron-left {
    margin-left: -3px; }

/*** Landing navbar ***/
div.landing-navbar {
  position: relative;
  z-index: 11;
  border-bottom: 1px solid rgba(116, 116, 116, 0.5); }
  div.landing-navbar div.middle-tabs ul.nav-tabs li {
    width: auto;
    display: inline;
    display: inline-block;
    float: left; }
  div.landing-navbar .nav-tabs a {
    border: none;
    margin: 0;
    font-size: 16px; }
  div.landing-navbar div.middle-tabs .nav-tabs {
    float: left; }
  div.landing-navbar div.middle-tabs ul {
    display: inline-block;
    float: left; }
  div.landing-navbar div.right-tabs ul.nav-tabs li {
    width: auto;
    display: inline;
    display: inline-block;
    float: left; }
  div.landing-navbar div.right-tabs ul {
    margin-top: 20px;
    display: inline-block;
    float: left; }
  div.landing-navbar div.right-tabs .nav-tabs > li > a {
    color: #fff;
    font-weight: bold;
    padding: 0 9px; }
  div.landing-navbar div.right-tabs .nav-tabs > li > a:hover {
    color: #f7c51d;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear; }
  div.landing-navbar div.navbar-home-ico {
    height: 30px;
    border-right: 1px solid rgba(116, 116, 116, 0.5);
    position: relative;
    top: 20px;
    text-align: left; }
    div.landing-navbar div.navbar-home-ico i {
      color: #fff;
      font-size: 30px; }
    div.landing-navbar div.navbar-home-ico i.fa-bars {
      margin-left: 15px; }
  div.landing-navbar div.navbar-search-ico {
    height: 30px;
    border-left: 1px solid rgba(116, 116, 116, 0.5);
    position: relative;
    top: 20px;
    text-align: right; }
    div.landing-navbar div.navbar-search-ico i {
      color: #fff;
      font-size: 20px; }
  div.landing-navbar div.navbar-bars-ico {
    height: 30px;
    text-align: left; }
    div.landing-navbar div.navbar-bars-ico i {
      color: #fff;
      font-size: 30px; }
  div.landing-navbar .tab-content {
    display: none; }
  div.landing-navbar .nav-tabs > li > a {
    color: #fff;
    font-weight: bold;
    padding: 20px 14px; }
  div.landing-navbar .nav-tabs > li.active > a,
  div.landing-navbar .nav-tabs > li.active > a:hover,
  div.landing-navbar .nav-tabs > li > a:hover,
  div.landing-navbar .nav-tabs > li > a:focus,
  div.landing-navbar .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
    outline: none;
    color: #fff; }
  div.landing-navbar .nav-tabs > li > a:hover .tab-footer {
    width: 50%;
    opacity: 1; }
  div.landing-navbar .nav-tabs > li.active > a .tab-footer {
    opacity: 1; }
  div.landing-navbar .tab-footer {
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: linear;
    width: 100%;
    margin: 0 auto;
    height: 4px;
    background-color: #f7c51d;
    position: relative;
    top: 20px;
    opacity: 0; }
  div.landing-navbar span.search-input input {
    visibility: hidden;
    float: right;
    position: relative;
    top: 23px;
    padding: 7px 25px;
    border-radius: unset;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: width 0.5s ease; }
  div.landing-navbar span.search-input input.visible {
    visibility: visible; }
  div.landing-navbar span.search-input-mobile input {
    float: left;
    position: relative;
    padding: 7px 25px;
    border-radius: unset;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: width 0.5s ease;
    top: -4px;
    width: 75%;
    margin-left: 15px; }

div.main {
  margin-top: 100px; }
  div.main div.left-text p {
    font-size: 17px;
    color: #9d9d9d; }
  div.main div.left-text p:first-child {
    font-size: 20px;
    color: #000; }
  div.main div.firefox-info {
    margin-top: 20px; }
    div.main div.firefox-info p {
      color: #9d9d9d;
      font-size: 15px; }
  div.main div.chrome-info p {
    color: #9d9d9d;
    font-size: 15px; }
  div.main div.chrome-img {
    width: 100px;
    height: 100px;
    background: url("../assets/chrome.png");
    background-size: cover; }
  div.main div.firefox-img {
    width: 100px;
    height: 100px;
    background: url("../assets/firefox.png");
    background-size: cover; }

@media screen and (max-width: 992px) {
  div.head div.push-me {
    background-color: #282828; }

  div.landing-carousel {
    margin-top: 0; }

  div.landing-carousel .carousel-main {
    top: 0;
    margin-top: 0; }

  div.landing-navbar {
    border-bottom: none;
    margin-top: 25px;
    height: 50px;
    background-color: #f7c51d; }
    div.landing-navbar i {
      cursor: pointer;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: linear; }
    div.landing-navbar i:hover {
      color: #000 !important; }
    div.landing-navbar div.navbar-bars-ico {
      padding-top: 10px;
      position: relative;
      top: 0;
      border: none; }
      div.landing-navbar div.navbar-bars-ico i {
        float: right; }
    div.landing-navbar div.navbar-home-ico {
      padding-top: 10px;
      position: relative;
      top: 0;
      border: none; }
      div.landing-navbar div.navbar-home-ico .fa-search {
        font-size: 25px;
        padding-left: 10px; }
    div.landing-navbar div.mobile-nav-list {
      margin-top: 20px; }
      div.landing-navbar div.mobile-nav-list div.well {
        border-radius: 0;
        margin-bottom: 0;
        border: none;
        padding: 10px; }
      div.landing-navbar div.mobile-nav-list a {
        transition-property: color;
        transition-duration: 0.5s;
        transition-timing-function: linear;
        font-size: 16px;
        text-decoration: none;
        color: #000; }
      div.landing-navbar div.mobile-nav-list a:hover {
        color: #f7c51d; }
      div.landing-navbar div.mobile-nav-list a:focus {
        outline: none; } }

/*# sourceMappingURL=app.css.map */
