$font: 'Roboto', sans-serif;
html{
}
body{
  width: 100%;
  min-width: 320px;
  font-size: 13px;
  font-family: $font;
}
.display-none{
  display: none!important;
}
.size-down{
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transform: scale(0);
  width: 0;
  padding: 0!important;
  margin: 0!important;
  visibility: hidden;
}
.size-up{
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transform: scale(1);
  padding: auto;
  margin: auto;
  visibility: visible;
}
.custom-hide{
  visibility: hidden;
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
.no-decoration{
    text-decoration: none;
    text-underline: none;
    border: none;
    color: #222;
}
.no-decoration :hover{
  color: #222;
  text-decoration: none;
  text-underline: none;
}
.fixed-navbar{
  position: fixed!important;
  width: 100%;
  top: 0;
  background-color: #000;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.cursor{
  cursor: default;
}
.pointer{
  cursor: pointer;
}
.inline {
  float: left;
}
.gold-text{
  color:#f7c51d;
}
/*** Landing Header ***/
header.header {
  margin: 0;
  height: 55px;
  width:100%;
  background-color: #282828;
  h4{
    margin: 0;
    color: #fff;
    padding: 17px;
  }
  .btn, span{
    margin-right: 35px;
    padding: 6px 16px;
  }
  span.glyphicon{
    margin-right: 0;
    padding: 2px 12px;
    font-size: 12px;
  }
  .header-right-part{
    padding: 11px;
    a{
      color: #cbcbcb
    }
    a:hover{
      text-decoration: none;
      text-underline: none;
      border: none;
      color: #fff;
    }
    a:focus, a:active{
      text-decoration: none;
      text-underline: none;
      border: none;
      outline: 0;
    }
  }
  .header-left-part{
    white-space: nowrap;
    color: #cbcbcb;
  }
  .header-right-part{
    .btn-success{
      width: 92px;
      height: 31px;
      line-height: normal;
    }
  }
  .mobile .glyphicon{
    padding: 5px 20px;
    font-size: 20px;
  }
  .mobile .dropdown{
    top: 17px;
    a:hover, a:focus{
      @extend .no-decoration;
      color: #fff;
    }
    a{
      color: #9d9d9d;
    }
    .dropdown-menu {
      padding: 0;
      li a {
        transition-property: background;
        transition-duration: 1s;
        transition-timing-function: linear;
        padding: 8px 10px;
        font-size: 13px;
      }
      li a:hover{
        background-color: #f7c51d;
      }
    }
  }
}
/***landing head***/
div.head {
  .middle-header{
    padding: 8px 0;
  }
  li, span {color: #9d9d9d;}
  .top-header{
    padding: 20px 0;
  }
  .lang-changer {
    min-width: 100px;
    .dropdown-menu {
      padding: 0;
      left: -100px;
      top: 30px;
      li a{
        padding: 8px 10px;
        font-size: 13px;
      }
    }
    a:hover, a:focus{
      @extend .no-decoration;
    }
    .dropdown a{
      color: #9d9d9d;
    }
    .dropdown-menu {
      li a {
        transition-property: background;
        transition-duration: 1s;
        transition-timing-function: linear;
      }
      li a:hover{
        background-color: #f7c51d;
      }
    }
  }
  .author-email {
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
  }
  .author-email:hover {
    color: #222;
  }
  .land-ico{
    background: url("../assets/k-ico.png");
    width:70px;
    height: 70px;
    background-size: cover;
  }
  .ico-info{
    padding: 0 10px;
    h3{
      margin: 20px 0 0 0;
      font-weight: bold;
    }
    h4{
      margin: 27px 0 0 0;
    }
  }
  .push-me{
    font-weight: bold;
    line-height:4;
    color: #fff;
    margin-top:20px;
    text-align: center;
    border-radius: 5px;
    height: 52px;
    width: 100%;
    background-color: #f7c51d;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
  .push-me:hover{
    background-color: #222;
  }
}
/*** Landing Carousel ***/
.landing-carousel{
  a.carousel-control{
    z-index: 999;
  }
  div.slides{
  opacity: 0.5;
    margin:auto;
    height: 500px;
  }
  div.carousel-inner{
    height:500px;
  }
  div.carousel-caption{
    position: relative;
    top: -375px;
    left: 0;
    h3{
      animation-delay: 1s;
      opacity: 1;
      color: #f7c51d;
      font-weight: bold;
      text-align: left;
    }
    h1{
      animation-delay: 1.5s;
      text-align: left;
      span{
        color: #f7c51d;
      }
    }
    p{
      font-size: 16px;
      text-align: left;
    }
  }
  .carousel-main{
    top: -65px;
    position: relative;
  }
  margin-top: 25px;
  height: 500px;
  width:100%;
  background-color: #222;
  .landing-slide *{
    background-size: cover;
    background-position: center;
  }
  .carousel-control{
    opacity: 1!important;
    height: 80px;
    width: 35px;
    background-color: rgba(63, 63, 59, 0.3);
    background-image: none;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    top: 200px;
    margin: 0 20px;
    i{
      color: #fff;
      margin-top: 35px;
      font-size: 14px;
    }
  }
  a.carousel-control:hover{
    background-color: #f7c51d;
  }

  .fa-chevron-right{
    margin-right: -3px;
  }
  .fa-chevron-left{
    margin-left: -3px;
  }
}
/*** Landing navbar ***/
div.landing-navbar{
  div.middle-tabs ul.nav-tabs li{
    width: auto;
    display: inline;
    display: inline-block;
    float: left;
  }
  position: relative;
  z-index: 11;
  border-bottom: 1px solid rgba(116, 116, 116, 0.5);
  .nav-tabs{
    a{
      border: none;
      margin: 0;
      font-size: 16px;
    }
  }
  div.middle-tabs{
    .nav-tabs  {
      float: left;
    }
    ul {
      display: inline-block;
      float:left;
    }
  }
  div.right-tabs{
    ul.nav-tabs li{
      width: auto;
      display: inline;
      display: inline-block;
      float: left;
    }
    ul {
      margin-top: 20px;
      display: inline-block;
      float:left;
    }
    .nav-tabs > li > a {
      color: #fff;
      font-weight: bold;
      padding: 0 9px;
    }
    .nav-tabs > li > a:hover {
      color: #f7c51d;
      transition-property: color;
      transition-duration: 1s;
      transition-timing-function: linear;
    }
  }
  div.navbar-home-ico{
    height: 30px;
    border-right: 1px solid rgba(116, 116, 116, 0.5);
    position: relative;
    top: 20px;
    text-align: left;
    i{
      color: #fff;
      font-size: 30px;
    }
    i.fa-bars{
      margin-left: 15px;
    }
  }
  div.navbar-search-ico{
    height: 30px;
    border-left: 1px solid rgba(116, 116, 116, 0.5);
    position: relative;
    top: 20px;
    text-align: right;
    i{
      color: #fff;
      font-size: 20px;
    }
  }
  div.navbar-bars-ico{
    height: 30px;
    text-align: left;
    i{
      color: #fff;
      font-size: 30px;
    }
  }
  .tab-content{
    display: none;
  }
  .nav-tabs > li > a {
    color: #fff;
    font-weight: bold;
    padding: 20px 14px;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus,
  .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
    outline: none;
    color: #fff;
  }
  .nav-tabs > li > a:hover{
    .tab-footer{
      width: 50%;
      opacity:1;
    }
  }
  .nav-tabs > li.active > a {
    .tab-footer {
    opacity: 1;
  };
  }
  .tab-footer{
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: linear;
    width: 100%;
    margin: 0 auto;
    height: 4px;
    background-color: #f7c51d;
    position: relative;
    top: 20px;
    opacity:0;
  }
  span.search-input{
    input{
      visibility: hidden;
      float: right;
      position: relative;
      top: 23px;
      padding: 7px 25px;
      border-radius: unset;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: width 0.5s ease;
    }
    input.visible{
      visibility: visible;
    }
  }
  span.search-input-mobile{
    input {
      float: left;
      position: relative;
      padding: 7px 25px;
      border-radius: unset;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: width 0.5s ease;
      top: -4px;
      width: 75%;
      margin-left: 15px;
    }
  }
}
/*** Main ***/
div.main{
  margin-top: 100px;
  div.left-text{
    p{
      font-size: 17px;
      color: #9d9d9d;
    }
    p:first-child {
      font-size: 20px;
      color: #222;
    }
  }
  div.firefox-info{
    p{
      color: #9d9d9d;
      font-size: 15px;
    }
    margin-top: 20px;
  }
  div.chrome-info{
    p{
      color: #9d9d9d;
      font-size: 15px;
    }
  }
  div.chrome-img{
    width: 100px;
    height:100px;
    background: url("../assets/chrome.png");
    background-size: cover;
  }
  div.firefox-img{
    width: 100px;
    height:100px;
    background: url("../assets/firefox.png");
    background-size: cover;
  }
  span.request-text{
    @extend .no-decoration;
    border-bottom: 1px dotted #f7c51d;
    a {
      color: #f7c51d;
      -webkit-transition: color 1s ease;
      -moz-transition: color 1s ease;
      transition: color 1s ease;
    }
  }
  span.request-text:hover{
    color: #fff;
  }
 .href-slider{
    @extend .no-decoration;
   cursor: pointer;
    color: #f7c51d;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    border-bottom: 3px solid transparent;
    width: 0;
    transition: 1s ease;
   -webkit-transition: 1s ease;
   -moz-transition: 1s ease;
    white-space: nowrap;
    height: 25px;
  }
  .href-slider:hover{
    border-bottom: 1px solid #f7c51d;
    width: 80px;
  }
}
/*** Introduct ***/
div.introduct{
  margin-top: 50px;
  text-align: center;
  div.introduct-block{
    span {
      color: #777;
      font-size: 15px;
    }
    h3 {
      color: #222;
      cursor: default;
      -webkit-transition: color 1s ease;
      -moz-transition: color 1s ease;
      transition: color 1s ease;
    }
    h3:hover{
      color: #f7c51d;
    }
  }
  div.introduct-iamges{
    background-size: cover;
    background-position: center;
    height:250px;
    width: 100%;
  }
}
/*** Portfolio ***/
div.portfolio {
  margin-top: 50px;
  padding-top: 65px;
  padding-bottom: 100px;
  background: #222;
  color: #fff;
  h1{
    margin: 0;
  }
  span{
    color: #6f6f6f;
  }
  ul li{
    font-size: 14px;
    margin-right: 22px;
    padding: 0;
    .active-img{
      color: #f7c51d;
      text-decoration: none;
    }
    a{
      color: #fff;
    }
    a:hover, a:focus{
      text-decoration: none;
    }
  }
  ul.image-filter{
    li:first-child{
      margin: 0;
    }
  }
  .portfolio-images{
    margin-top: 50px;
    ul li{
      padding: 0 15px;
      margin: 0;
    }
    div.box {
      background-size: cover!important;
      background-position: center!important;
      height: 200px;
    }
  }
}
/*** Client-carousel***/
div.clinet-panel{
  background-color: #f7c51d;
  .slick-slider{
    margin: 15px 0;
  }
  h3{
    word-break: break-all;
    margin-top: 40px;
    color: #fff;
  }
  h3::after{
    position: absolute;
    content: "";
    right: 15px;
    top: 35px;
    background-color: rgba(255,255,255,0.5);
    height: 35px;
    width: 1px;
  }
  button.slick-prev, button.slick-next{
      display:none!important;
    };
}
div.tech-img{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80px;
}
/*** Quote-carousel ***/
div.quote-panel{
  background-color: #f9f9f9;
  h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    text-transform: uppercase;
    span{
      font-weight: 400;
      line-height: 26px;
      color: #999;
      text-transform: capitalize;
      position: relative;
      padding-left: 11px;
    }
    span:before{
        position: absolute;
        content: ",";
        left: 3px;
        bottom: -3px;
    }
  }
  div.quote-box{
    display: inline-block;
    border: 1px solid #f2f2f2;
    padding: 40px 30px 30px 34px;
    background-color: #fff;
    position: relative;
    margin-bottom: 100px;
    margin-top: 80px;
    margin-right: 15px;
    span.inner-span{
      background-color: #979797;
      height: 36px;
      width: 44px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      display: inline-block;
      line-height: 36px;
      position: absolute;
      left: 34px;
      top: -15px;
    }
    .inner-header{
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    .outer-part{
      position: absolute;
      top: 120%;
      left: 5px;
      ul li i{
        color: #f7c51d;;
      }
    }
    p.inner-paragraph{
      font-size: 16px;
      color: #777;
      line-height: 26px;
      font-weight: 400;
    }
  }
  div.quote-box:after{
    position: absolute;
    content: "";
    bottom: -25px;
    left: -1px;
    width: 0;
    height: 0;
    border-top: 25px solid #f7c51d;
    border-left: 30px solid transparent;
  }
}
/*** acordions panel ***/
div.accordion-panel{
  /*** acordions block ***/
  margin: 50px 0;
  .accordeons{
    margin-top: 30px;
  }
  .panel-group .panel+.panel{
    margin-top: 20px;
  }
  div.tablist:focus{
    outline: none;
  }
  div.panel-heading{
    background-color: #fff;
  }
  div.panel-group{
    border-radius: 0;
  }
  div.panel-group .panel-heading+.panel-collapse .panel-body{
    border-top: 0;
    padding: 0 30px;
    font-size: 15px;
    color: #777;
    line-height: 26px;
    letter-spacing: 0.45px;
    font-weight: 400;
    p{
      padding: 20px 0;
      margin: 0;
    }
  }
  .accordion-head{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.15px;
    text-transform: capitalize;
    i{
      font-size: 7px;
      margin-top: 6px;
    }
  }
  h4.panel-title{
    margin: 10px 0;
    padding: 0 20px;
  }
  .accordion-toggle:focus{
    outline: none;
  }
  .accordion-body{
    border-top: 1px solid #ddd;
  }
  /***News Block***/
  article.news-block{
    margin-top: 30px;
    position: absolute;
    max-width: 50%;
    img{
      width: 250px;
      height: 160px;
    }
    .news-img{
      float:left;
    }

    .news-text{
      position: relative;
      top: -155px;
      left: 270px;
      .header-link h3{
        -webkit-transition: color 1s ease;
        -moz-transition: color 1s ease;
        transition: color 1s ease;
        color: #222;
      }
      .header-link h3:hover{
        color: #f7c51d;
      }
      a.header-link {
        text-decoration: none;
      }
      a.read-more-link{
        text-decoration: none;
        text-transform: capitalize;
        line-height: 25px;
        font-size: 14px;
        letter-spacing: 0.42px;
        color: #222;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        transition: color 0.5s ease;
      }
      span.read-more-arrow{
        margin-left: 0;
        font-size: 18px;
        position: relative;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        opacity: 0;
      }
      span.read-more-arrow:before{
        content: "\2192";
      }

      a.read-more-link:hover{
        color: #f7c51d;
        .read-more-arrow{
          opacity: 1;
          margin-left: 10px;
        }
      }
      p{
        margin-top:10px;
        color: #777;
        font-size: 15px;
        line-height: 22px;
      }
      h3{
        font-size: 17px;
        color: #222;
        line-height: 26px;
        letter-spacing: 0.17px;
        margin: 5px 0 2px;
        font-weight: 400;
        text-transform: capitalize;
      }
    }
  }
  article.mobile-news .news-text{
    top:0;
    left:0;
  }
}

@import "responsive";
