$font: 'Roboto', sans-serif;

html{
}
body{
  width: 100%;
  min-width: 320px;
  font-size: 13px;
  font-family: $font;
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
.no-decoration{
    text-decoration: none;
    text-underline: none;
    border: none;
}
.pointer{
  cursor: pointer;
}
.inline {
  float: left;
}
/*** Landing Header ***/
header.header {
  margin: 0;
  height: 55px;
  width:100%;
  background-color: #282828;
  h4{
    margin: 0;
    color: #fff;
    padding: 17px;
  }
  .btn, span{
    margin-right: 35px;
    padding: 6px 16px;
  }
  span.glyphicon{
    margin-right: 0;
    padding: 2px 12px;
    font-size: 12px;
  }
  .header-right-part{
    padding: 11px;
    a{
      color: #cbcbcb
    }
    a:hover{
      text-decoration: none;
      text-underline: none;
      border: none;
      color: #fff;
    }
    a:focus, a:active{
      text-decoration: none;
      text-underline: none;
      border: none;
      outline: 0;
    }
  }
  .header-left-part{
    white-space: nowrap;
    color: #cbcbcb;
  }
  .header-right-part{
    .btn-success{
      width: 92px;
      height: 31px;
      line-height: normal;
    }
  }
  .mobile .glyphicon{
    padding: 5px 20px;
    font-size: 20px;
  }
  .mobile .dropdown{
    top: 17px;
    a:hover, a:focus{
      @extend .no-decoration;
      color: #fff;
    }
    a{
      color: #9d9d9d;
    }
    .dropdown-menu {
      padding: 0;
      li a {
        transition-property: background;
        transition-duration: 1s;
        transition-timing-function: linear;
        padding: 8px 10px;
        font-size: 13px;
      }
      li a:hover{
        background-color: #f7c51d;
      }
    }
  }
}
/***landing head***/
div.head {
  .middle-header{
    padding: 8px 0;
  }
  li, span {color: #9d9d9d;}
  .top-header{
    padding: 20px 0;
  }
  .lang-changer {
    min-width: 100px;
    .dropdown-menu {
      padding: 0;
      left: -100px;
      top: 30px;
      li a{
        padding: 8px 10px;
        font-size: 13px;
      }
    }
    a:hover, a:focus{
      @extend .no-decoration;
    }
    .dropdown a{
      color: #9d9d9d;
    }
    .dropdown-menu {
      li a {
        transition-property: background;
        transition-duration: 1s;
        transition-timing-function: linear;
      }
      li a:hover{
        background-color: #f7c51d;
      }
    }
  }
  .author-email {
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
  }
  .author-email:hover {
    color: #000;
  }
  .land-ico{
    background: url("../assets/k-ico.png");
    width:70px;
    height: 70px;
    background-size: cover;
  }
  .ico-info{
    padding: 0 10px;
    h3{
      margin: 20px 0 0 0;
      font-weight: bold;
    }
    h4{
      margin: 27px 0 0 0;
    }
  }
  .push-me{
    font-weight: bold;
    line-height:4;
    color: #fff;
    margin-top:20px;
    text-align: center;
    border-radius: 5px;
    height: 52px;
    width: 100%;
    background-color: #f7c51d;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
  .push-me:hover{
    background-color: #000;
  }
}
/*** Landing Carousel ***/
.landing-carousel{
  margin-top: 40px;
  height: 500px;
  width:100%;
  background-color: #000;
  .landing-slide *{
    opacity: 0.5;
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .carousel-control{
    opacity: 1!important;
    height: 60px;
    width: 30px;
    background-color: rgba(63, 63, 59, 0.3);
    background-image: none;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    top: 200px;
    margin: 0 20px;
  }
  a.carousel-control:hover{
    background-color: #f7c51d;
  }
  i{
    color: #fff;
    margin-top: 20px;
  }
  .fa-chevron-right{
    margin-right: -3px;
  }
  .fa-chevron-left{
    margin-left: -3px;
  }
}