$font: "source-sans-pro","Helvetica Neue", Helvetica,Arial,sans-serif;

html{
  font-family: $font;
}
body{
  width: 100%;
  min-width: 320px;
}
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
.no-decoration{
    text-decoration: none;
    text-underline: none;
    border: none;
}
.pointer{
  cursor: pointer;
}
/*** Landing Header ***/
header.header {
  margin: 0;
  height: 55px;
  width:100%;
  background-color: #282828;
  h4{
    margin: 0;
    color: #fff;
    padding: 17px;
  }
  .btn, span{
    margin-right: 35px;
    padding: 6px 16px;
  }
  span.glyphicon{
    margin-right: 0;
    padding: 2px 12px;
    font-size: 12px;
  }
  .header-right-part{
    padding: 11px;
    a{
      color: #cbcbcb
    }
    a:hover{
      text-decoration: none;
      text-underline: none;
      border: none;
      color: #fff;
    }
    a:focus, a:active{
      text-decoration: none;
      text-underline: none;
      border: none;
      outline: 0;
    }
  }
  .header-left-part{
    white-space: nowrap;
    color: #cbcbcb;
  }
  .mobile .glyphicon{
    padding: 5px 20px;
    font-size: 20px;
  }
}
/***landing head***/
div.top-header {
  li, span {color: #9d9d9d;}
  .container>div {
    padding: 20px 0;
  }
  .lang-changer {
    min-width: 100px;
    .dropdown-menu {
      padding: 0;
      left: -100px;
      top: 30px;
      li a{
        padding: 8px 10px;
        font-size: 13px;
      }
    }
    a:hover, a:focus{
      @extend .no-decoration;
    }
    .dropdown a{
      color: #9d9d9d;
    }
    .dropdown-menu {
      li a {
        transition-property: background;
        transition-duration: 1s;
        transition-timing-function: linear;
      }
      li a:hover{
        background-color: #f7c51d;
      }
    }
  }
  .author-email {
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
  }
  .author-email:hover {
    color: #000;
  }
}