@media screen and (max-width: 992px) {
  div.head div.push-me{
    background-color: #282828;
  }
  div.head{
    ul.list-inline{
      float: left!important;
    }
  }
  div.landing-carousel{
    margin-top: 0;
  }
  div.landing-carousel .carousel-main{
    top: 0;
    margin-top:0;
  }
  div.landing-navbar {
    border-bottom: none;
    margin-top:25px;
    height: 50px;
    background-color: #f7c51d;
    i{
      cursor: pointer;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: linear;
    }
    i:hover{
      color: #000 !important;
    }
    div.navbar-bars-ico {
      padding-top: 10px;
      position: relative;
      top: 0;
      border: none;
      i{
        float: right;
      }
    }
    div.navbar-home-ico {
      padding-top: 10px;
      .fa-search{
        font-size: 25px;
        padding-left: 10px;
      }
      position: relative;
      top: 0;
      border: none;
    }
    div.mobile-nav-list{
      margin-top:20px;
      div.well{
        border-radius: 0;
        margin-bottom: 0;
        border: none;
        padding: 10px;
      }
      a{
        transition-property: color;
        transition-duration: 0.5s;
        transition-timing-function: linear;
        font-size: 16px;
        text-decoration: none;
        color: #000;
      }
      a:hover{
        color: #f7c51d;
      }
      a:focus{
        outline: none;
      }
    }
  }
  ul.image-filter{
    margin-top: 20px;
  }
  div.portfolio{
    padding-bottom: 20px;
  }
  div.portfolio-images ul li:not(:first-child){
    margin-top: 20px;
  }
  div.clinet-panel {
    h3::after {
      width: 0;
    }
    h3{
      text-align: center;
    }
  }
  div.quote-box{
    margin-right: 0!important;
    margin-top: 25px!important;
  }
}
@media screen and (max-width: 768px) {
  div.main{
    margin-top: 50px;
  }
  div.chrome-info, div.chrome-info *,
  div.firefox-info, div.firefox-info *{
    padding: 0;
  }
  div.introduct .introduct-block:not(:first-child){
    margin-top: 50px;
  }
  div.carousel-caption{
    h1{
      font-size: 24px;
    }
  }
}